<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46425100916-7gnku8fbgivchvrfhq9shr0mnn7uhfd3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46425100916-7gnku8fbgivchvrfhq9shr0mnn7uhfd3</string>
	<key>API_KEY</key>
	<string>AIzaSyAWuJG9rBP_RDOga65OZRRY0rQy6n19Qzw</string>
	<key>GCM_SENDER_ID</key>
	<string>46425100916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectepsi</string>
	<key>PROJECT_ID</key>
	<string>epsib3cda-5a7f1</string>
	<key>STORAGE_BUCKET</key>
	<string>epsib3cda-5a7f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46425100916:ios:8b28ba50aa62ca98b53721</string>
</dict>
</plist>